@import "tailwindcss";
@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('/assets/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

